@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind directives */
@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
}

.placeholder-color{
  color: #e0e0e0;
  font-weight: 300;
}


